src/main/mule/weather-xpapi-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="weather-xpapi-api-main">
        <http:listener config-ref="weather-xpapi-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="weather-xpapi-api-config" />
        <error-handler ref="global-apikit-error_Handler">
            
        </error-handler>
    </flow>
    <flow name="weather-xpapi-api-console">
        <http:listener config-ref="weather-xpapi-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="weather-xpapi-api-config" />
        <error-handler ref="global-apikit-error_Handler">
            
        </error-handler>
    </flow>
    <flow name="get:\weather\(ipAddress):weather-xpapi-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="ipAddress"><![CDATA[attributes.uriParams.'ipAddress']]></ee:set-variable>
				<ee:set-variable variableName="authorization" ><![CDATA[attributes.headers.'Authorization']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'transactionId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Requester logging" doc:id="b84d9ddb-03c7-4a9b-9bac-dfb940342e2c" message="Requester logging for Weather XPAPI for transactionId : #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="71f0d4dd-3a9a-4ccc-8d74-50fa6594d70a" name="weather-implementation-flowSub_Flow"/>
		<logger level="INFO" doc:name="Response Logger" doc:id="fb16c3b4-4312-4518-acdc-ffd1a470a168" message="Response logging for Weather XPAPI for transactionId : #[vars.transactionId]" />
		<error-handler ref="global-app-error_Handler" />
    </flow>
</mule>
